h1 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

h5 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

h6 {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

