@import url('colors.css');
@import url('fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--Black);
    transition: 0.5s;
}

body {
    margin-top: 2.81rem;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-feature-settings: 'liga' off, 'clig' off;
}

.menu h5:hover {
    color: var(--Secondary);
    cursor: pointer;
}

/* Header */
header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;

    .left-header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4.25rem;
        flex-shrink: 0;

        .logo-name {
            display: flex;
            width: 7.5rem;
            height: 3rem;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: var(--Secondary);
            font-size: 1.375rem;
            font-weight: 700;
        }

        .menu {
            display: flex;
            padding: 0.875rem 0rem 0rem 0rem;
            align-items: flex-start;
            gap: 2.125rem;

            .multi {
                display: inline-flex;
                gap: 0.125rem;

                .icon {
                    width: 0.875rem;
                    flex-shrink: 0;
                    color: var(--Black-50);
                }
            }
        }
    }

    .right-header {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1.5625rem;
        flex-shrink: 0;

        .search {
            display: flex;
            padding: 0.875rem 1rem;
            align-items: center;
            gap: 1.25rem;
            border-radius: 0.75rem;
            background: var(--Gray);

            .icon {
                display: flex;
                height: 1.25rem;
                justify-content: center;
                align-items: center;
            }
        }

        .user-section {
            display: flex;
            align-items: flex-start;
            gap: 3.125rem;

            .user {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .img {
                    display: flex;
                    width: 3rem;
                    height: 3rem;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0.75rem;
                }

                .icon {
                    width: 0.875rem;
                    height: 0.875rem;
                    flex-shrink: 0;
                    color: var(--Black-50);
                }
            }

            .fav-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 3rem;
                flex-shrink: 0;
                border-radius: 0.75rem;
                background: var(--Gray);

                .icon {
                    display: inline-flex;
                    height: 1.25rem;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                }
            }
        }
    }

}

/* Section */
.top-tags {
    width: 80%;
    height: 800px;
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 1rem;
}